;
; BIND data file for 0.168.192.in-addr.arpa zone.
;
;
$ORIGIN 0.168.192.in-addr.arpa.
$TTL  604800
@ IN  SOA localhost. root.localhost. (
    1427819976    ; Serial
    604800    ; Refresh
    86400   ; Retry
    2419200   ; Expire
    604800  ) ; Negative Cache TTL
;
@   IN  NS  .
;
1   IN  PTR {{ wbench_hostname }}.lab.local.
{% for hostname, dnsattr in wbench_hosts.iteritems() %}
{{ dnsattr.ip.split('.')[-1] }} IN  PTR {{hostname}}.lab.local.
{% endfor %}
