# Configured by Ansible
# static DHCP hosts
{% for hostname, dhcpattr in wbench_hosts.iteritems() %}
host {{hostname}} {
  hardware ethernet {{ dhcpattr.mac }};
  fixed-address {{ dhcpattr.ip }};
  option host-name "{{hostname}}";
}
{% endfor %}
